# macOS system files
.DS_Store
client/.DS_Store

# Node modules
node_modules/
server/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# VSCode Dev Container settings
.devcontainer/